* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  max-width: 100vw;
  background-color: var(--white);
}
/* Colour Styles */

:root {
  --cyan-600: #4d96a9;
  --cyan-300: #8fe3f9;
  --purple-600: #855fb1;
  --purple-300: #d9b8ff;
  --slate-900: #28283d;
  --slate-600: #87879d;
  --slate-300: #d1d1df;
  --white: #fafafa;
}

/* Text Syles*/

@font-face {
  font-family: "Red Hat Display Black";
  src: url(./starter-code/assets/Fonts/red-hat-display-v19-latin/red-hat-display-v19-latin-900.woff2);
}

@font-face {
  font-family: "Red Hat Display Medium";
  src: url(./starter-code/assets/Fonts/red-hat-display-v19-latin/red-hat-display-v19-latin-500.woff2);
}

.text-preset-1 {
  font-family: "Red Hat Display Black";
  font-size: clamp(2.5rem, 1.9718rem + 2.2535vw, 4rem);
  line-height: 1.1;
  letter-spacing: 0px;
}

.text-preset-2 {
  font-family: "Red Hat Display Black";
  font-size: clamp(2rem, 1.8239rem + 0.7512vw, 2.5rem);
  line-height: 1.1;
  letter-spacing: 0px;
}

.text-preset-3 {
  font-family: "Red Hat Display Black";
  font-size: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);
  line-height: 1.1;
  letter-spacing: 0.25rem;
}

.text-preset-4 {
  font-family: "Red Hat Display Medium";
  font-size: clamp(1rem, 0.956rem + 0.1878vw, 1.125rem);
  line-height: 1.5;
  letter-spacing: 0;
}

.text-preset-5 {
  font-family: "Red Hat Display Black";
  font-size: 1rem;
  line-height: 1.5;
  letter-spacing: 0;
}

/* Header Section Styles */

.header-section {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 5rem 5rem 0 5rem;
}

/* Main Content Styles */

.hero-section--tablet {
  display: none;
}

.hero-section--mobile {
  display: none;
}

.hero-section {
  display: flex;
  justify-content: center;
  padding: 4rem 0;
  column-gap: 2rem;
  position: relative;
  overflow: hidden;
  max-width: 100%;
}

.hero-section__text-content-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 2rem;
  text-align: center;
  align-items: center;
  width: 28.01875rem;
}

.hero-section__header {
  color: var(--slate-900);
  text-wrap: pretty;
}

.hero-section__description {
  color: var(--slate-600);
}

.hero-section__left-image {
  position: relative;
  left: -6.0625rem;
}

.hero-section__right-image {
  position: relative;
  right: -6.0625rem;
}

.hero-section__cta-container {
  display: flex;
  justify-content: center;
  max-height: fit-content;
  column-gap: 1.0625rem;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.hero-section__download-cta {
  padding: 1rem 2.5rem;
  background-color: var(--cyan-600);
  border-radius: 1.8125rem;
  color: var(--white);
  text-wrap: nowrap;
  text-align: center;
  transition: all 0.5s ease 0s;
}

.hero-section__download-cta:hover {
  background-color: #71c0d4;
}

.hero-section__download-cta__alternative-text,
.hero-section--mobile .hero-section__download-cta__alternative-text,
.hero-section--tablet .hero-section__download-cta__alternative-text {
  color: var(--cyan-300);
  margin-left: 0.25rem;
}

.hero-section__info-cta {
  padding: 1rem 2.5rem;
  background-color: var(--purple-600);
  border-radius: 1.8125rem;
  color: var(--white);
  text-wrap: nowrap;
  transition: all 0.5s ease 0s;
}

.hero-section__info-cta:hover {
  background-color: #b18bdd;
}

/* Benefits Section Styles */

.benefit-section {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  row-gap: 4rem;
  padding: 3.5rem 10rem 4.5rem;
}

.benefit-section__image-collage {
  display: flex;
  justify-content: center;
  column-gap: 2rem;
  min-width: 100%;
}

.image-collage__first-image,
.image-collage__second-image,
.image-collage__third-image,
.image-collage__fourth-image {
  border-radius: 8px;
}

.benefit-section__text-content-container {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  row-gap: 2rem;
  max-width: 48.571428571428571%;
}

.benefit-section__title-container {
  display: flex;
  flex-flow: column nowrap;
  row-gap: 1rem;
  max-inline-size: 81.801470588235294%;
}

.benefit-section__smaller-title {
  color: var(--cyan-600);
  text-transform: uppercase;
}

.benefit-section__larger-title {
  color: var(--slate-900);
}

.benefit-section__description {
  color: var(--slate-600);
}

/* Footer Section */

.footer-section {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  align-items: center;
}

.footer-section__number-two-graphic {
  z-index: 3;
}

.footer-section__hero-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100%;
  padding: 7rem 5rem;
  position: absolute;
  top: 6.75rem;
  background-image: url(./starter-code/assets/desktop/image-footer.jpg);
  background-size: cover;
  z-index: 2;
}

.footer-section__overlay {
  background-color: var(--cyan-600);
  opacity: 0.8;
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  z-index: 1;
}

.footer-section__content-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;
  width: 70rem;
}

.footer-section__title {
  color: var(--white);
  z-index: 2;
  text-align: left;
  inline-size: 445px;
}

.footer-section__description {
  color: var(--white);
  max-inline-size: 355px;
  z-index: 2;
}

.footer-section__download-cta {
  z-index: 2;
  text-align: right;
  align-self: center;
  max-inline-size: auto;
  border-radius: 1.8125rem;
  padding: 1rem 2.5rem;
  background-color: var(--purple-600);
  color: var(--white);
  transition: all 0.5s ease 0s;
}

.footer-section__download-cta__alternative-text {
  color: var(--purple-300);
}

.footer-section__download-cta:hover {
  background-color: #b18bdd;
}

/* Media Queries */

/* Tablet */
@media only screen and (max-width: 768px) and (min-width: 431px) {
  .header-section {
    padding: 3rem 5rem 0 5rem;
  }

  .hero-section,
  .hero-section--mobile {
    display: none;
  }

  .hero-section--tablet {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 4.5rem;
    align-items: center;
    padding: 4rem 0;
    overflow: hidden;
  }

  .hero-section--tablet__combined-faces {
    object-fit: cover;
    block-size: 100%;
  }

  .hero-section__text-content-container {
    row-gap: 1.5rem;
  }
}

/* Mobile */
@media only screen and (max-width: 430px) {
  .header-section {
    padding: 3rem 5rem 0 5rem;
  }

  .hero-section,
  .hero-section--tablet {
    display: none;
  }

  .hero-section--mobile {
    display: flex;
    flex-flow: column nowrap;
    row-gap: 3rem;
    align-items: center;
    padding: 4rem 2rem 2rem 2rem;
    overflow: hidden;
  }

  .hero-section--mobile__combined-faces {
    object-fit: cover;
    block-size: 100%;
  }

  .hero-section__text-content-container {
    row-gap: 1.5rem;
    max-width: 100%;
  }

  .hero-section__cta-container {
    column-gap: 1rem;
  }

  .benefit-section {
    padding: 2rem 2rem 4rem;
  }

  .benefit-section__image-collage {
    width: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .image-collage__first-image,
  .image-collage__second-image,
  .image-collage__third-image,
  .image-collage__fourth-image {
    max-width: 9.21875rem;
    max-height: 9rem;
    object-fit: cover;
  }

  .benefit-section__text-content-container {
    max-width: 100%;
  }

  .benefit-section__title-container {
    max-width: 100%;
  }

  .footer-section__hero-container {
    max-width: 100vw;
    flex-flow: column nowrap;
    background-image: url(./starter-code/assets/mobile/image-footer.jpg);
    background-size: cover;
    padding: 4rem 2rem;
  }

  .footer-section__content-container {
    flex-flow: column nowrap;
    max-width: 100%;
    row-gap: 1.5rem;
    overflow: hidden;
    max-height: max-content;
  }

  .footer-section__title {
    text-wrap: wrap;
    max-inline-size: 100%;
    text-align: center;
  }

  .footer-section__description {
    max-inline-size: 100%;
    text-align: center;
    text-wrap: pretty;
  }
}
